body{
    margin: 0%;
    width: 100%;
}
.intro{
    display: flex;
    background-color: aqua;
    font-size: 40px;
    text-align: justify;background-image: linear-gradient(blue, red);
}
.color{
    color:orange;
}
.hey{
    width: 50%;
    margin-left: 5%;
}
#hire-me{
    text-decoration: none;
    background-image: linear-gradient(rgb(247, 151, 7), rgb(221, 158, 158));
    padding: 5px 25px;
    border-radius: 10px;
}
.img{
    width: 100%;
    padding-left: 200px;
}
.div2{

    display: flex;
}
.experiences{
    width: 50%;
    margin: 5%;

}
.sec-2{
    background-image: linear-gradient(rgb(248, 15, 15), gray);

    background-repeat: no-repeat;
}
.experiences img{
    width: 100%;
}
#font-p{
    font-size: 40px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px tomato;
    padding: 10px;
    border-radius: 15px;
}
.lorem{
    box-shadow: 10px 10px 40px blue;
    border: 5px solid red;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    
}
